.wrapper-home-page-layout {
  .container-content-home-page {
    min-height: 500px;
    margin-top: 75px;
    padding-bottom: 50px;
  }
  .line-footer {
    border-top: 2px solid #ccc;
    width: 100%;
  }
}
