.button-confirm {
    height: 40px;
    background-image: linear-gradient(
        to right,
        #0a64a7 0%,
        #258dcf 51%,
        #3db1f3 100%
    ) !important;
    color: #fff;
    border-radius: 6px;
    width: 120px;
    font-weight: 500;
    border: none;
    outline: none;
    font-size: 16px;
}
.ant-btn-primary[disabled] {
    background: #ddd !important;
}
