.wrapper-movie-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: var(--width-content);
  .movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // text-align: center;
    height: 600px;
    width: 287px;
    padding: 0 24px 24px 24px;
    .info-movie {
      width: 100%;
      flex-direction: column;
      text-align: left;
      .detail {
        display: flex;
        .options {
          font-weight: 500;
          font-size: 16px;
        }
        div {
          margin-left: 4px;
        }
      }
      .title-movie {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        min-height: 44px;
        font-size: 22px;
        font-weight: 500;
        color: #337ab7;
        cursor: pointer;
        margin: 12px 0;
        div {
          line-height: 1.1;
        }
      }
      .title-movie:hover {
        text-decoration: underline;
      }
    }
    .buy-ticket {
      margin-top: 12px;
    }
  }
}
