.wrapper-button-buy-ticket {
    .button-buy-ticket {
        width: 100%;
        border: none;
        outline: none;
        background-image: linear-gradient(
            to right,
            #0a64a7 0%,
            #258dcf 51%,
            #3db1f3 100%
        ) !important;
        color: #fff;
        width: 227.5px;
        height: 36px;
        cursor: pointer;
        border-radius: 6px;

        font-weight: 500;
        span {
            font-size: 16px;
        }
    }
    .button-buy-ticket:hover {
        background-image: linear-gradient(
            to right,
            #0a64a7 0%,
            #258dcf 51%,
            #3db1f3 100%
        ) !important;
        background-position: right center;
    }
}
.modal-button-buy-ticket {
    padding: 0px !important;
    top: 20px !important;
    .ant-modal-title {
        font-size: 30px;
    }
    .ant-modal-header {
        padding: 20px 24px;
    }
    .ant-modal-footer {
        padding: 0 !important;
    }
}
