.wrapper-default-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container-content {
        width: 1150px;
        min-height: 500px;
        margin-top: 75px;
        padding-bottom: 50px;
    }
    .line-footer {
        border-top: 2px solid #ccc;
        width: 100%;
    }
}
