@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --width-content: 1150px;
  --padding-left-header: calc((100vw - 1150px) / 2);

  // Default layout
  --margin-top-content: 75px;
  --padding-bottom-content: 50px;
  // color
  --name-film-color: #03599d;
}

html {
  font-size: 62.5%;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
body {
  // font-family: "Montserrat", sans-serif;
  // font-family: "ProximaNova", sans-serif;
  // font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow: overlay;
  background-color: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

// fix empty right space react-slick
.slick-next {
  right: 10px !important;
  z-index: 1000 !important;
}
.slick-prev {
  left: 10px !important;
  z-index: 1000 !important;
}

// icon close not css focus
.ant-modal-close {
  outline: none !important;
  border: none !important;
}
// font-weight
.text-bold {
  font-weight: 600;
}
