.dropdown-menu-account {
  font-size: 14px;
  .username {
    font-weight: 500;
  }
}

.ant-dropdown-menu {
  .ant-dropdown-menu-item {
    height: 34px;
    padding: 24px 12px;
  }
  .drop-item {
    font-size: 16px;
  }
}
