.home-page {
  .box-item-img {
    width: 100%;
    height: calc(100vw / 2.75);
  }
  .banner1 {
    width: 100vw;
  }
  .movie-component {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
