.wrapper-choose-chair {
  padding-top: 30px;
  .header {
    font-size: 26px;
    color: #337ab7;
  }
  .type-of-chair {
    display: flex;
    margin-bottom: 30px;
    .seat-item {
      margin-top: 50px;
      display: flex;
      align-items: center;
      margin-right: 20px;
      img {
        width: 35px;
        height: 35px;
      }
      .seat-status-text {
        font-size: 14px;
        margin-left: 8px;
        font-weight: 500;
      }
    }
  }

  .screen {
    .ic-screen {
      img {
        width: 95%;
        height: 86px;
      }
    }
  }
  .check-show {
    min-height: 460px;
    display: flex;
    flex-wrap: wrap;
    .seat-item {
      cursor: pointer;
      position: relative;
      width: 30px;
      height: 30px;
      margin: 8px;
      .value-chair {
        width: 30px;
        height: 30px;
        position: absolute;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
  .footer-seat {
    background-color: #fff;
    padding: 35px;
    display: flex;
    justify-content: space-around;
    .seat-unselect {
      min-width: 150px;
      .seat-unselect-item {
        display: flex;
        align-items: center;
      }
      .money {
        position: relative;
        margin: 20px 0px 0px 0px;
        font-size: 20px;
        min-height: 40px;
      }
      .money::after {
        content: "";
        position: absolute;
        display: block;
        width: 1px;
        height: 100px;
        background: #ccc;
        top: -60px;
        right: -68px;
      }
      img {
        height: 40px;
        width: 40px;
        margin-right: 12px;
      }
    }
  }
  .total-money {
    position: relative;
    font-size: 20px;
    span {
      position: absolute;
      bottom: 20px;
      color: #337ab7;
    }
  }
}
